<p id="notice"><%= notice %></p>

<h1><%= t('view.Blogs') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('view.Title') %></th>
      <th><%= t('view.Content') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to t('view.Show'), blog %></td>
        <td><%= link_to t('view.Edit'), edit_blog_path(blog) %></td>
        <td><%= link_to t('view.Destroy'), blog, method: :delete, data: { confirm: t('message.Are you sure?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('view.New Blog'), new_blog_path %>
