<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.Title') %>:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong><%= t('view.Content') %>:</strong>
  <%= @blog.content %>
</p>

<%= link_to t('view.Edit'), edit_blog_path(@blog) %> |
<%= link_to t('view.Back'), blogs_path %>
